<img style="display: block; margin-left: auto; margin-right: auto;" src="">
<h1 style="margin-top: -5px; margin-left: 40px; text-align: center; font-size: 3em;"><strong>Module 3 - Python</strong></h1>

# Using Loops, Iterating and Slicing

## In this notebook...


1. Introduction to sequences
1. Tuples
1. For loops for iterating over Lists/Tuples (/Sequences)
1. Basic loop idioms
1. Iterating to extract a summary 
1. Built-in functions that save us writing looping code
1. Strings
1. Lists
1. `range()` function (built-in)
1. Slicing
1. List(/Sequence) processing with enumerate and zip

### Up-front example of the in-built `list()` function

In [ ]:
# up front example of the
# list() function

chars_in_string = list("bananna")  #['b', 'a'...'n', 'a']
print(chars_in_string)

# Tuple

Tuples are the simplest data structure in Python, allowing us to collect together as many values as we'd like, in a particular order, but they are immutable (cannot be changed).

Tuples are created by putting multiple values in round brackets, separated with commas, e.g. ("apple", "fruit"). In many cases (when there's no ambiguity with other Python elements), the brackets can be omitted, and it's the commas that imply that we're using a tuple.

In [ ]:
bus = (14, "dundrum")              #tuple is immutable (can't change it's elements)
print(bus )

In [ ]:
#Indexing
bus = (14, "dundrum")              #tuple is immutable (can't change it's elements)
#      [0],  [1]

# Indexing a tuple (and other sequences)

Indexing means accessing a particular item within a data structure based on its position.

There are many data structure that we can index, which include tuples, lists and several others; the common name for these is "_sequence_".

We can easily index each element by its numeric position starting with zero (same as in JS and most programming languages).

| Index |  Item  |
|:-----:|:------:|
| 0     | apple  |
| 1     | orange |
| 2     | tomato |
| 3     | banana |

In [ ]:
# In Python we index a list by putting the index (an integer) in square brackets
# after the sequence, e.g.:

fruits = ("apple", "orange", "tomato", "banana")  # a tuple of strings
fruits[2]  # Quiz - what will we get?

In [ ]:
# We can also use negative indexes to go from the end of the list, e.g. -1 for the last element:
fruits[-1]

In [ ]:
fruits[4]  # Quiz - what will we get now?

In [ ]:
#re-visit tuple immutability now
#recall this example...
bus = (14, "dundrum")              #tuple os immutable (can't change it's elements)
print(bus, id(bus) )

#want to change 'dundrum' but can't: it's a tuple
bus[1] = "cabinteely"         #it's immutable

In [ ]:
#getting around tuple immutability
bus = (14, "dundrum")              
print(bus, id(bus), type(bus) )

#want to change 'dundrum' but can't: it's a tuple
bus_list = list( bus )             #convert to list
print(bus_list, id(bus_list), type(bus_list))
print("changeing list now...")
bus_list[1] = "cabinteely"         #list is mutable: change list
print(bus_list, id(bus_list), type(bus_list))

bus = tuple( bus_list ) #convert back to tuple

print(bus, id(bus) )

In [ ]:
# Creating tuples....
# We define a tuple by placing comma-separated values in parentheses, e.g.:
fruits = ("apple", "orange", "tomato", "banana")  # a tuple of strings
print(type(fruits))
print(fruits)

In [ ]:
# When there's no risk of ambiguity, parentheses can be omitted, e.g.:
other_fruits = "pear", "grape", "pineapple", "watermelon"
print(type(other_fruits))
print(other_fruits)

In [ ]:
# Although tuples are immutable, we can use the + operator to concatenate them:
combined_fruits = fruits + other_fruits
print(combined_fruits)

In [ ]:
# and the * operator to repeat them:
repeated_fruits = fruits * 2
print(repeated_fruits)

In [ ]:
# Can have more than one name referring to the same  tuple:
fruits     = ("apple", "orange", "tomato", "banana")
ref_fruits = fruits                     # "aliasing" - creating another reference to the same object in memory

print( id(fruits), id(ref_fruits) )

In [ ]:
other_fruits = ("pear", "grape", "pineapple", "watermelon")

In [ ]:
# We can even use the assignment operators, such as +=, but they create a new tuple:
other_fruits = ("pear", "grape", "pineapple", "watermelon")
fruits       = ("apple", "orange", "tomato", "banana")
ref_fruits = fruits                     # "aliasing" - creating another reference to the same object in memory

# fruits += other_fruits
fruits = fruits+other_fruits          #compare output to this line used
print(fruits)
print(ref_fruits)

### f-string `{name=}` (with `=` after the name)

In [ ]:
name = "bob"
age = 14
# print( f"{name}")   #prints actual value of `name`

print( f"{name=}, {age=}")  #pre-pends 'name=' to the actual value of `name`

In [ ]:
# Using f-string `{name=}` to help see what happens in the previous cell
other_fruits = ("pear", "grape", "pineapple", "watermelon")
fruits       = ("apple", "orange", "tomato", "banana")
ref_fruits = fruits  # "aliasing" - creating another reference to the same object in memory
print("before")
print( f"{id(fruits)=}, {fruits=}")
print( f"{id(ref_fruits)=}, {ref_fruits=}")

fruits += other_fruits                  #compare output with this line used
# fruits = fruits+other_fruits          #compare output to this line used

print("after")
print( f"{id(fruits)=}, {fruits=}")
print( f"{id(ref_fruits)=}, {ref_fruits=}")
#
#[NOTE: see difference at comparable example using lists below!]

In [ ]:
#E.g. passing to a function
letters = list("abcd")
print(letters, type(letters))

In [ ]:
def change_letter( letters ):
    #copy of the list passed in first
    # letters = letters[:]                #create a copy of letters: new obect
    print(f"inside: {id(letters)=}")
    letters[1] = 'x'                    #changeing the copy not the outside object

letters = list("abcd")          # ['a', 'x', 'c', 'd']@504704
print(f"before: {letters=}, id: {id(letters)=}")
change_letter(letters)          #change_letters(@504704)
print(f" after: {letters=}, id: {id(letters)=}")

In [ ]:
# We can use this multiplication to easily create a long tuple, e.g. with zeros:
(0,) * 20  # Note that we need a comma after the zero to create a single-element tuple

In [ ]:
#tuple un-packing
bus = (14, "dundrum")
number, destination = bus       #un-pack
(number, destination) = bus

print(number)
print(destination)

## For loops for iterating over Lists/Tuples (/Sequences)

"For" loops often used mainly when we want to iterate over some collection of objects, like a tuple/ list, characters in a String etc.

This type of looping is sometimes referred to as 'definite' repetition.

In [ ]:
from time import sleep

seconds_until_launch = 5
while seconds_until_launch:
    print(f"T minus {seconds_until_launch}")
    sleep(1)
    seconds_until_launch -= 1
print("Lift off!")

In [ ]:
# Using a for loop: compare:
for seconds_until_launch in 5, 4, 3, 2, 1:
    print(f"T minus {seconds_until_launch}")
    sleep(1)
print("Lift off!")

# `seconds_until_launch` here denotes the for-loop's iteration variable,
# Python automatically updates it to refer to each subsequent item in the collection.
# We can choose any name we want for this variable

# Yes, writing 5, 4, 3, 2, 1 is a bit tedious - we'll automate that in a bit.

Note: in terms of comparing to JS, while Python's loops use the `for ... in` keywords, they are actually closer to JS's `for ... of` loops.

In [ ]:
for friend in 'Joseph', 'Glenn', 'Sally': 
    print(f'Happy New Year {friend}')

In [ ]:
# Note that tuples (and other sequences) can contain different types of values:
mixed = (3, "Two", True, None)

for x in mixed:
    print(f"{x} is a {type(x)}")

 # But this can be a subtle source of bugs, so be careful!

# Loop Idioms

There are common idioms, or patterns, that we use when iterating over a sequence, and we'll go over the most popular ones during these lectures, starting with some basic ones now.

These next few ones examples here are particularly simple, and while you'll later see easier ways to achieve the same effect, these are useful to learn how to utilise for loops for more advanced problems.

In [ ]:
# We'll use the following tuple of numbers for all these examples, and perform different things on them
numbers = (9, 41, 12, 3, 74, 15)

In [ ]:
# Pattern 1 - do something with each item (e.g. print it)
numbers = (9, 41, 12, 3, 74, 15)
for num in numbers:
    print(f"{num} squared is {num**2}")

In [ ]:
# Pattern 2 - Apply a filter, to only act on some of the values (e.g. odd ones)
numbers = (9, 41, 12, 3, 74, 15)
for num in numbers:
    if num % 2 == 1:
        print(f"{num} is odd")

# Calculating a summary value (i.e. a "statistic")

We oftentimes need to go over a collection and extract some value that summarises the collection.

To do so, the typical strategy is to break-down the problem about a collection into something we do on each item separately.

In general, we will apply the following steps:

1. Define one or more variables with initial values
1. Iterate over a collection and modify our variable(s) based on each item
1. After the loop is done, retrieve the output we want out of our variables

In [ ]:
# Pattern 3 - Count number of elements in the collection
numbers = (9, 41, 12, 3, 74, 15)

count = 0
for _ in numbers:  # we use the underscore as a convention to indicate that we don't care about the value (it's a "whatever")
    count += 1
print(count)

In [ ]:
# Pattern 4 - Summing the elements of a collection
numbers = (9, 41, 12, 3, 74, 15)
total = 0
for num in numbers:
    total += num
print(total)

In [ ]:
# Pattern 5 - Find the largest value
numbers = (9, 41, 12, 3, 74, 15)
largest = float("-inf")  # Negative infinity - smaller than any real number
for num in numbers:
    if num > largest:
        print(f"Found new largest number: {num}")
        largest = num
print(largest)

In [ ]:
# Pattern 6 - Find the mean
numbers = (9, 41, 12, 3, 74, 15)
# How would you do this?
count = 0
total = 0
for num in numbers:
    count += 1
    total += num
mean = total / count
print(mean)

# Built-in functions that save us writing looping code
Python offers a range of built-in functions that let us easily 
summarise sequences without a loop, here are just a few

In [ ]:
numbers = (9, 41, 12, 3, 74, 15)

In [ ]:
# Instead of:
count = 0
for num in numbers:
    count += 1
print(count)

# we can use:
print(len(numbers))

In [ ]:
# Instead of:
total = 0
for num in numbers:
    total += num
print(total)

# we can use:
print(sum(numbers))

In [ ]:
# And instead of:
largest = float("-inf")
for num in numbers:
    if num > largest:
        # print(f"Found new largest number: {num}")
        largest = num
print(largest)

# we can use:
print(max(numbers))

In [ ]:
# Note that as mentioned last week, max() and min() can also be used on individual arguments, e.g.:
print(max(9, 41, 12, 3, 74, 15))

# Is the same as passing them in as a tuple:
print(max((9, 41, 12, 3, 74, 15)))

In [ ]:
# Note the two forms mentioned in the documentation:
# help(max)

In [ ]:
# Easy challenge - use the functions above to calculate the mean of the numbers tuple

sum(numbers) / len(numbers)

In [ ]:
# Btw, seeing how all batteries are included you could alternatively, use an import
from statistics import mean
print(mean(numbers))

# Looping on Strings

`len()` works on strings. This is not a coincidence - can you guess why?

In [ ]:
# While strings are considered a basic data type, they are actually sequences of characters.
# And we can iterate over them with a for loop, e.g.:

s = "Hello, world!"
for char in s:
    print(char)

In [ ]:
# Strings are immutable and are the same as tuples in most regards.
# The main difference is what happens when we index them.
# Unlike other languages, Python doesn't have a separate character type.
# So when we index a string, we get a string of length 1, which we can index repeatedly

print(s, type(s))
print(s[0], type(s))
print(s[0][0], type(s))
print(s[0][0][0], type(s))

# Lists

The most popular data type in Python.

Similar to tuple, used to collect multiple values in a sequence, when the order matters.

We can define lists similarly to tuples, but using square brackets rather than round brackets. Here the brackets are mandatory (otherwise we get a tuple).

Unlike tuples, lists are dynamic, allowing us to add, remove and modify elements as we go.

In [ ]:
fruits = ["apple", "orange", "tomato", "banana"]  # a list of strings
print(type(fruits))
print(fruits)

### Indexing a list

Indexing means accessing a particular item within a data structure.

In the case of a list, we can easily index each element by its numeric position, but we have to be mindful that the indexes (aka indices) in python start with zero.

| Index |  Item  |
|:-----:|:------:|
| 0     | apple  |
| 1     | orange |
| 2     | tomato |
| 3     | banana |

In [ ]:
# In Python we index a list by putting the index (an integer) in square brackets after the list, e.g.:

fruits = ["apple", "orange", "tomato", "banana"]

fruits[2]  # Quiz - what will we get?

In [ ]:
"""
    ["apple", "orange", "tomato", "banana"]
        [0]     [1]      [2]       [3]
        [-4]    [-3]     [-2]      [-1]
"""
print( fruits )
# We can also use negative indexes to go from the end of the list, e.g. -1 for the last element:
fruits[-3]

### Adding and removing items

As mentioned, unlike tuples, which are immutable, lists are dynamic.

This means we can hold a list in a variable and modify it in our programme to process it into what we want.

The main way to do so will be with the `.append()`, `.extend()`, `.insert()`, `.remove()` and `.pop()` methods.

In [ ]:
# We can add a single item with `.append()`
fruits = ["apple", "orange", "lime", "banana"]
fruits.append("apricot")
fruits

In [ ]:
# Or add a whole list, by using `.extend()`
fruits = ["apple", "orange", "lime", "banana"]
more_fruits = ["grape", "blueberry", "raspberry"]
fruits.extend(more_fruits)
print(fruits)

In [ ]:
# The above only changed `fruits`, but didn't affect `more_fruits`
print(more_fruits)

In [ ]:
# append would have added the list as a single item
fruits = ["apple", "orange", "lime", "banana"]
more_fruits = ["grape", "blueberry", "raspberry"]
fruits.append(more_fruits)
print(fruits)

In [ ]:
# Quiz, what would happen, if I run this?
fruits = ["apple", "orange", "lime", "banana"]
fruits.extend("apricot")
fruits

In [ ]:
text = "bananna"
#want to get ['b', 'a', 'n',...'a']

char_list = []
char_list.extend("bananna")
print( char_list )

#note: this is easier:
print( list("bananna") )

In [ ]:
# insert allows us to add into a specific position
fruits = ["apple", "orange", "tomato", "banana"]
fruits.insert(2, "lime")
fruits

In [ ]:
# Are tomatos really a fruit?

# Well, technically they are, but they don't belong in a fruit salad, so let's remove them:
fruits.remove("tomato")  # Remove the first occurrence of that value (and raise error, if there aren't any)
fruits

In [ ]:
# If we know the index, we can change an item in-place 
fruits = ["apple", "orange", "tomato", "banana"]
fruits[2] = "lime"
fruits

In [ ]:
# Or, we can remove an item by its index via .pop()
fruits = ["apple", "orange", "tomato", "banana"]
popped_fruit = fruits.pop(2)
print(f"pop(2) returned: {popped_fruit}")
print(fruits)

fruits.pop() # it defaults to the last item
print(fruits)

In [ ]:
# Just like strings and tuples, lists support the concatenation and repeat operations with + and *
words = ["One"] + ["Another", "and another"] * 3
words  # Quiz - what will this show?

In [ ]:
other_fruits = ["pear", "grape", "pineapple", "watermelon"]
fruits       = ["apple", "orange", "tomato", "banana"]
ref_fruits = fruits
fruits = fruits + other_fruits

print(fruits)
print(ref_fruits)
#Explain: look up "in-place"

In [ ]:
# What about this?
other_fruits = ["pear", "grape", "pineapple", "watermelon"]
fruits       = ["apple", "orange", "tomato", "banana"]
ref_fruits = fruits
print( f"{id(fruits)=}, {fruits=}")
print( f"{id(ref_fruits)=}, {ref_fruits=}")
fruits = fruits + other_fruits
print( f"{id(fruits)=}, {fruits=}")
print( f"{id(ref_fruits)=}, {ref_fruits=}")

In [ ]:
# NOTE: a difference
# While .append/.extend change the list in-place, +, * create a new list
# But unlike strings and tuples which are immutable, lists are mutable:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
print( f"{id(list1)=}, {list1=}")
list1.append(list2)
print( f"{id(list1)=}, {list1=}")

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
print( f"{id(list1)=}, {list1=}")
list1.extend( list2 )
print( f"{id(list1)=}, {list1=}")

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
print( f"{id(list1)=}, {list1=}")
list1 = list1 + list2
print( f"{id(list1)=}, {list1=}")

In [ ]:
#CAUTION: with += ("compound" operator)
#   behaves like extend(): in-place, no new object.
list1 = [1, 2, 3]
list2 = [4, 5, 6]
print( f"{id(list1)=}, {list1=}")
list1 += list2      
print( f"{id(list1)=}, {list1=}")

### Iterating over a list

In [ ]:
# Challenge - Write a while loop to collect input from a user into a list, until they say 'done'
# Enter next value (or 'done' to finish): 4
# Enter next value (or 'done' to finish): 7
# Enter next value (or 'done' to finish): done

In [ ]:
#input from a user
typed_in = input("Please enter a number")
print(typed_in)

In [ ]:
#a while loop?
count = 0
while True:
    print("inside")
    count += 1
    if count >= 2:
        break

In [ ]:
#NOW Merge the above two codes so a loop
# stops if I typed_in "done" (as a `sentinel`)
typed_in = input("Please enter a number")
print( typed_in )
while True:
    if typed_in == "done":
        print("you typed: done, breaking")
        break
    typed_in = input("Please enter a number")

print("program continues...")

In [ ]:
# solution variant 1
inputs = []
response = input("Enter next value (or 'done' to finish): ")
while response != 'done':
    inputs.append(response)
    response = input("Enter next value (or 'done' to finish): ")

print(inputs)

In [ ]:
# Same as above, just with an infinite loop, avoiding the repetition
inputs = []
while True:
    response = input("Please provide the next value ")
    if response == "done":
        break
    inputs.append(response)
        
print(inputs)

In [ ]:
# And if we populated the list with strings representing numbers, we can iterate over them like this:
inputs = list("123456")
print(inputs)
for item in inputs:
    print(int(item) + 1)

## print() function arguments: `end=` and `sep=`

In [ ]:
#print( x, end=",") - use the `end=` to change the output
inputs = list("123456")

for item in inputs:
    print(int(item) + 1, end=", ")  #no longer on separate ('\n') lines now

In [ ]:
print("Age:", 25)
print("Age:", 25, sep="") 
print("Age:", 25, sep=" = ")        #See output

print("Value:", 3.14)
print("Value:", 3.14, sep=" -> ")   #See output
# Output: Value -> 3.14
  #see output

In [ ]:
#combined use of `sep` and `end`
print("print()", "`sep=`", "and", "`end`=", end=" are powerful.\n", sep="--")
print("-"*30)
print("One", "Two", "Three", sep=" | ", end=" - End of line.\n")

## Python 3.8 + "walrus" operator: `:=`

In [ ]:
# Example 1: Without walrus operator
n = 10          #1. assign
if n > 5:       #2. test value assigned
    print(n)

In [ ]:

# Example 1: With walrus operator
if (n := 10) > 5:       #allows test of assigned value
    print(n)

In [ ]:
# Example 2: Without walrus operator
line = input()
while line != "stop":
    print(line)
    line = input()

In [ ]:
# Example 2:  With walrus operator
while (line := input("Enter a val")) != "stop":
    print(line)

In [ ]:
inputs = []
response = input("Enter next value (or 'done' to finish): ")
while response != 'done':
    inputs.append(response)
    response = input("Enter next value (or 'done' to finish): ")

print(inputs)

In [ ]:
# Walrus Operator: applied-example
inputs = []
while (response := input("Please provide the next value ")) != "done":
    inputs.append(response)

print(inputs)

## `range()` function (built-in)

`range()` is a special built-in function that generates a sequence of numbers in arithmetic progression.
It is very useful when you want to create a list of numbers, or when you want to directly iterate over numbers in a for loop.

`range()` actually creates a special immutable data structure, so we will often want to convert it to a list, using the `list()` function

In [ ]:
# The most basic use of range() is when we pass just one argument
# Doing so we get the sequence of numbers from 0 up to that input (exclusive), e.g.:
for num in range(5):
    print(num)

In [ ]:
# If we look at its representation, we see it's lazy, not showing us the full values
range(5)

In [ ]:
# Because it's lazy, we can use it to generate enormous ranges, without taking up space, e.g.:
huge_range = range(1000000000000000000000000000)
print(huge_range)

# Although it will still take an inordinate time to iterate over it

In [ ]:
# If we want a list of the values in a range, we will use the `list()` function, e.g.:
nums = list(range(5))
nums

In [ ]:
# You might find it surprising that range(5) only goes up to 4, but it's because everything in Python starts with 0
# Having the range end at 5 means that the number we pass in will be the length of the range:
len(range(5))

In [ ]:
# We can have more control over the list by passing 2 arguments:
list(range(3, 6))  # The first parameter becomes the start (inclusive), and the second is the end (exclusive)

In [ ]:
len(range(3, 16))

In [ ]:
# challenge - how would I get the numbers from -10 up to 10, inclusive?
list(range(-10, 11))

In [ ]:
# Or 3 arguments:
list(range(3, 11, 2))  # The additional third parameter is for the size of a jump, in this case, jump +2 every time

In [ ]:
#to-do: fix explanation...
# -3, -2, -1, 0, 1, 2, 3, 4, 5, 6
#   [] []  []  []  [] [] [6]
#   [-10]  []  []  [] [] [] [] [-3] [-2] [-1]
# Quiz, what will this generate?
list(range(6, -3, -1))

In [ ]:
# Challenge - let's do a launch countdown from 5 to 1 with a range
from time import sleep
for seconds in range(5, 0, -1):
    sleep(1)
    print(f"T minus {seconds}")
print("Lift off")

# Slicing lists

Similar to how we can index a list with a single number, we *slice* a list to obtain a sub-list.

For slicing, we also use square brackets, but with multiple numbers separated with colons (:)

The inputs of slices are the same as with `range()`

In [ ]:
simple = "0 1 2 3 4 5 6 7 8 9".split() #create list with individual elements
simple

In [ ]:
# list_name[<start> : <stop> : <step> ]
simple[ :  : -1 ]                    #-1=> right-to-left traversal

In [ ]:
original = [1,2,3]
print( id(original ) )
copied = original[::1]
print( id(copied))

print(original, copied)

In [ ]:
fruits = ["apple", "orange", "lime", "banana", "grape", "blueberry", "raspberry"]

print(fruits[0:2])

In [ ]:
print(fruits[:3])  # The first slice input defaults to zero and can be omitted

In [ ]:
print(fruits[2:7])

In [ ]:
fruits = ["apple", "orange", "lime", "banana", "grape", "blueberry", "raspberry"]
print(fruits[2:])  # The second slice input defaults to the last element and can be omitted

In [ ]:
# Note that because the second input (the end) is exclusive, we have this invariant:
index = 3
first_part = fruits[:index] # everything up to that index
second_part = fruits[index:] # everything from that index
print(f"First part: {first_part}")
print(f"Second part: {second_part}") # everything from that index
print(first_part + second_part == fruits)  # combined, these two always make up the original

In [ ]:
# Just like with range, we can add a third input (after another colon) to define the size of the jump (which defaults to 1)
fruits = ["apple", "orange", "lime", "banana", "grape", "blueberry", "raspberry"]

print(fruits[1:6:2])

In [ ]:
# This also gives us a compact way to reverse a list:
print(fruits[::-1])

### Slicing challenge, how to get every evenly-positioned elements?

In [ ]:
fruits = ["apple", "orange", "lime", "banana", "grape", "blueberry", "raspberry"]
even_positioned_fruits = fruits[::2]
print(even_positioned_fruits)

In [ ]:
text = "supercalifragalisticexpalidocious"
print( text[0:len(text):2] )
print( text[0::2] )
print( text[:len(text):2] )
print( text[::2] )

In [ ]:
text = "supercalifragalisticexpalidocious"
print( text[::-2] )

In [ ]:
num = 4
assert num == 5
print("program continues")

In [ ]:
def every_second_of(sequence):
    """Return a slice of all the evenly-positioned items in the input sequence"""
    return sequence[::2]

# First test case - every second item of a list
fruits = ['raspberry', 'blueberry', 'grape', 'banana', 'lime', 'orange', 'apple']
assert every_second_of(fruits) == ['raspberry', 'grape', 'lime', 'apple']

# Second test case - every second item of a string
assert every_second_of('hello') == 'hlo'

# Third test case - every second item of a tuple
assert every_second_of((1, 12, 23, 34, 45, 56)) == (1, 23, 45)

#### Slicing - each of the following slice operations 
####          ...write examples to demonstrate some meaningful sequence processing:
    # slice l[<start>:<stop>]
    # slice l[<start>:<stop>:step] #e.g. step
    # slice l[<start>:<stop>:-1]   #e.g. -1
    # slice l[:<stop>]             #e.g. start not specified
    # slice l[<start>:]            #e.g. stop  not specified
    # slice l[::-1]                #e.g. for reverse

In [ ]:
my_list = fruits = ['raspberry', 'blueberry', 'grape', 'banana', 'lime', 'orange', 'apple']
print(my_list)

#### List `reverse()` and `sort()`

In [ ]:
# lists have additional useful methods - remember you can use `dir()`

# Of particular use are .reverse() and .sort():
nums = [3, 1, 6]
nums.reverse()
print(nums)
nums.sort()
print(nums)
nums.reverse()
print(nums)

In [ ]:
# The last one can actually be performed on a single line:
nums = [3, 1, 6]
nums.sort(reverse=True)
print(nums)

In [ ]:
# There is also a non-in-place alternative
nums = 3, 1, 6
print(sorted(nums))  # sorted always returns a list regardless of the input type
print(nums)

### List (/sequence) processing with `enumerate()` and `zip()`

There are two other particularly useful functions that work on sequences

In [ ]:
# enumerate() is a useful function that returns a tuple of the index and the value at that index
fruits = ["apple", "orange", "lime", "banana"]
print(list(enumerate(fruits)))  # Note that we need to wrap it in a list() to see the values, as it's lazy

In [ ]:
enumerate(fruits)

In [ ]:
# We often use enumerate() in a for loop (which doesn't require the list() wrapper)
# to get a friendly presentation of list items, e.g.:
for i, fruit in enumerate(fruits):
    print(f"Fruit {i}: {fruit}")

In [ ]:
# Or, for users who aren't used to zero-based indexing, we can start the index at any other number:
for i, fruit in enumerate(fruits, 1):
    print(f"Fruit {i}: {fruit}")

In [ ]:
# The zip() function is useful for combining two lists into a list of tuples

fruits = ["apple", "orange", "lime", "banana"]
friends = ["Bob", "Alice", "John", "Jane"]

print(list(zip(fruits, friends)))  # (zip is also lazy)

In [ ]:
# We can use zip() to iterate over two lists at the same time, e.g.:
for fruit, friend in zip(fruits, friends):
    print(f"{friend} likes {fruit}s")

In [ ]:
# zip will stop when the shortest list is exhausted
# It is commonly used in this idiom to iterate over pairs of items in a list, e.g.:
days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
for day1, day2 in zip(days, days[1:]):
    print(f"{day1} is followed by {day2}")

# Note that weekdays[1:] only has 6 elements, so we get 6 pairs